<div class="bg-gray-800 text-white text-center py-20" >
  <h1 class="text-5xl font-bold mb-4">Welcome to Ecomm</h1>
  <p class="text-xl mb-8">Your one-stop shop for all your e-commerce needs!</p>
  <%= link_to 'Shop Now', root_path, class:"bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" %>
</div>